<%= image_tag @offer.picture if @offer.picture.present? %>

<p>
  <b>Title:</b>
  <%= @offer.title %>
</p>

<p>
  <b>Description:</b>
  <%= @offer.description %>
</p>

<p>
  <b>Asking price:</b>
  <%= @offer.asking_price %>
</p>

<p>
  <b>Offered by:</b>
  <%= link_to @offer.user.name, @offer.user %>
</p>


<%= link_to 'Edit', edit_offer_path(@offer) if @offer.user == current_user %> |
<%= link_to 'Back', offers_path %>
